<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="/">Acadêmico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light" href="/alunos/">Alunos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/avaliacao/">Avaliações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/area/">Área</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/cidade/">Cidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/curso/">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/disciplina/">Disciplinas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/frequencia/">Frequências</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/funcionario/">Funcionários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/instituicao/">Instituições</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/matricula/">Matrículas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/ocorrencia/">Ocorrências</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/ocupacao/">Ocupações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/tipo_avaliacao/">Tipos de Avaliação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/turma/">Turmas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/turno/">Turnos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/uf/">UF</a>
              </li>
          </ul>
        </div>
      </nav>    

  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Cadastro Acadêmico</h1>
      <p class="lead">Seja Bem Vindo(A)</p>
      <p class="lead">Use a navbar para navegar pelo sistema.</p>
    </div>
  </div>
  
  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>